@import "~bootstrap/scss/bootstrap";

main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

root{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.App{
    height: -webkit-fill-available;
    max-height: 100vh;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.content{
    width: calc(100% - 280px);
    overflow-y: auto;
}